#user_detail_top{
    background-color:$bg_color;
    text-align: center;
    padding:12px 0px;
    img{
        width: 36%;
        height: auto;
        margin: 2% 32%;
        @include r;  
        @include shadow;
    }
    p{
        font-weight: bold;
        padding:10px 0px;

    }
}

#user_detail_block{
    padding: 1% 2%;
    background-color: $white;
    @include top_r;
    @include shadow;
    img{
        width: 80%;
        height: auto;
        margin: 2% 10%;
        @include r;  

    }

    label{

    }

}

.food_detail_block{ 

}